<ion-content padding class="login">

    <div class="">
  <ion-row margin-bottom margin-top>
    <ion-col text-center margin-top margin-bottom>
      <img src="assets/icon/logo.png" height="60" alt="">
    </ion-col>
  </ion-row>

  
  <ion-item color="">
    <ion-label position="stacked">Username</ion-label>
    <ion-input type="text" placeholder="Enter Username"></ion-input>
  </ion-item>
  <ion-item color="">
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" placeholder="Enter Password"></ion-input>
  </ion-item>
  
  <ion-row margin-top>
    <ion-col>
      <ion-button fill="clear" color="dark" clear routerLink="/forgot-password"><b>Forgot Password ?</b></ion-button>
      <ion-button expand="full" shape="round" routerLink="/dashboard" color="primary">Login Now</ion-button>
      <ion-button expand="full" shape="round"  color="light" routerLink="/signup" margin-top>Don’t have an account? Signup
      </ion-button>
    </ion-col>
  </ion-row>
</div>

</ion-content>
